#footer_content{
	width:100%;
	min-height:32px;
	background-color:#161a2f;
	overflow: hidden;
}
.contenido-footer{
	width:980px;
	height:32px;
	margin-left:auto;
	margin-right:auto;
	font-family:Arial, Helvetica, sans-serif;
	color:#5d6176;
	font-size:11px;
}
.copyright{
	width:auto;
	height:auto;
	float:left;
	display: inline-block;
	width: 40%;
	margin:11px 0px 0px 0px;
}
.social-media{
	width:20%;
	height:32px;
	text-align: center;
	float:left;
}
.btn-social {
	width: 32px;
	height: 32px;
	border-left: 1px solid #2b2f44;
	display: inline-block;
}
.bases{padding-left: 40px;}
.bases a{
	color:#666;
	text-decoration: none;
	line-height: 32px;
}
.bases a:hover{text-decoration: underline; }
.btn-social:last-child{
	border-right:1px solid #2b2f44;
}
.btn-social a:hover{opacity: 0.8}
.up-btn{
	width:121px;
	height:32px;
	background-color:#2a3051;
	float:right;
}
#content-form{
	width:602px;
	background-color:#FFF;
	margin-top:14px;
	padding:100px 0px 0px 0px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../img/deja-dato.jpg);
	background-repeat:no-repeat;
	background-position:top;
	margin-bottom:14px;
	/*para Firefox*/
	-moz-border-radius: 10px 10px 10px 10px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 10px 10px 10px 10px;
	/* para Opera */
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.34);
	box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.34);
	overflow: hidden;
}
#content-form .errors{text-align: center; padding:10px; margin:0 auto; width: 80%; background:lightyellow; border-radius:20px; }
#content-form .errors p{padding: 0; margin: 0;}
#content-form .errors ul{padding: 0}
#content-form .errors li{list-style: none;}
#content-form .errors strong{text-decoration: underline;}

#content-form #image_file_input{display:none;}
#content-form #place_photo{width: 220px;}
#file_name_value{line-height: 40px;}

#content-form h1{
	font-size:18px;
	width:auto;
	height:auto;
}
.form-in{
	height:auto;
	float:left;
	padding-left:4%;
	padding-right: 4%;

}
.precisar{clear: both; text-align: center; padding-top: 10px; text-transform: uppercase;}
.precisar p{margin:0; font-size: 14px;  color: #333;}
.dato-in{
	width:261px;
	float:left;
	text-align:left;
	font-size:18px;
	display: block;
	margin:10px 0px 0px 10px;
}
.dato-in small{font-style: italic; font-size: 13px; color: #666; padding-left: 10px; padding-top: 5px; text-transform: uppercase;}
.dato-in .error{
	color: red;
	font-size: 14px;
	display: none;
	text-transform: uppercase;
}
.dato-in.large{width: 500px; margin-bottom: 10px;}
.dato-in.large input{width: 520px;}
.dato-in label{text-transform: uppercase;}
.dato-in input,.dato-in select,.dato-in textarea{
	font-family: 'boogalooregular','Arial',sans-serif;
	text-transform: uppercase;
	width:247px;
	height:53px;
		/*para Firefox*/
	-moz-border-radius: 10px 10px 10px 10px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 10px 10px 10px 10px;
	/* para Opera */
	border-radius: 10px 10px 10px 10px;
	border:solid 2px #ccc;
	outline:none;
	padding-left:10px
}
.dato-in.ok input{border-color:green;}
.dato-picada{
	font-size:12px;
	text-align: center;
	color:#666;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	padding-top:5px;
	margin-bottom:10px;
}
.form-in img{
	float:left;
}
.menu-img{
	width:283px;
	margin-left:8px;
	float:left;
	text-align:left;
	font-size:15px;
	padding-left:28px;
	padding-top: 20px;
}
.bsc-btn{background: url("../img/bg-btn-dato-buscar.png") no-repeat; width: 130px; height: 46px; overflow: hidden; display: block; float: left; font-size: 1px; text-indent: -1000px;}
.bsc-btn:hover{opacity: 0.7;}

.despcripcion-form{
	width:auto;
	height:auto;
	float:left;
	margin-top:10px;
	padding-top:10px;
	text-align:left;
}
.area-form{
	width:545px;
	height:173px;
	float:left;
	margin-top:10px;
		/*para Firefox*/
	-moz-border-radius: 10px 10px 10px 10px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 10px 10px 10px 10px;
	/* para Opera */
	border-radius: 10px 10px 10px 10px;
	text-align:left;
	outline:none;
	padding-left:10px;
	padding-top:10px;
	font-family: 'boogalooregular',sans-serif;
}
.btn-enviar{
	width:396px;
	height:71px;
	float:left;
	background-image:url(../img/fili_btns.jpg);
	margin-top:30px;
	margin-left:80px;
}
.btn-envia-dato{
	width:192px;
	height: 55px;
	margin-left:auto;
	margin-right:auto;
	background-color:#d70303;
	text-align:center;
	border-bottom:solid #9f0000;
	font-size:25px;
	color:#FFF;
	font-family:'boogalooregular','Arial',sans-serif;
	border-left:0px;
	border-right:0px;
	border-top:0px;
}
.btn-envia-dato:hover{opacity:0.8;}